<div id="forgotPasswordModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeBtn" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-info text-center hideField"><b>&nbsp;&nbsp;&nbsp;RESET YOUR PASSWORD</b></h4>
                <h5 class="modal-title text-center hideField">Please verify your Email Address</h5>
            </div>
            <div class="modal-body">
                <div class="form-group hideField">
                    <div class="form-horizontal">
                        <input type="text" class="form-control" id="emailInput" Placeholder="Enter your email address" [(ngModel)]="emailInput">
                    </div>
                </div>
                <div class="col-md-12 col-xs-12" id="messageDiv"></div>
                <br>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary hideField" (click)="sendPasswordResetLink()">Send</button>
            </div>
        </div>

    </div>
</div>