.modal-content{
    top:250%;
    width:25%;
    position: absolute;
    background: #6bb5d6; 
    color:#000;
    margin-left: 40%;
   
}
.signUp-header{
   margin-left: 2%;
}
button.close:hover , button.close:focus{
    opacity: 2 !important;
}
 .signUp-button{
    margin-left: 20%;
   
} 
.signUp-close{
    background: #F84B3F !important;
    color:white !important;
}

.modal-header{
    text-align: center;
}

.forget-pwd>a{
    text-decoration: none;
    color:#337ab7;
}
.forget-pwd>a:hover,.forget-pwd>a:focus{
    text-decoration: none;
    color:#074377;
}